


Button:hover {
    /*
        highlight button
     */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);

}

.toots{
    -fx-background-color: #fefffe;

}

.following {
    -fx-background-color: #ffffff;

}

.followers {
    -fx-background-color: #ffffff;

}

.toots_button {
    -fx-background-color: #20B2AA;
    -fx-background-radius: 25;
}

.following_button {
    -fx-background-color: #FF5733;
    -fx-background-radius: 25;
}

.followers_button {
    -fx-background-color: #6495ED;
    -fx-background-radius: 25;
}

.post_button {
    -fx-background-color: #808080;
    -fx-background-radius: 25;
}
.logout_button {
    -fx-background-color: #7FFFD4;
    -fx-background-radius: 25;
}


.profile_button {
    -fx-background-color: #7fff81;
    -fx-background-radius: 25;
}

.profile_buttons {
    -fx-background-color: #7ff4ff;
}