


Button:hover {
    /*
        highlight button
     */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);

}

.toots{
    -fx-background-color: #fefffe;

}

.following {
    -fx-background-color: #ffffff;

}

.followers {
    -fx-background-color: #ffffff;

}

.toots_button {
    -fx-background-color: #2ce112;
    -fx-background-radius: 25;
}

.following_button {
    -fx-background-color: #f60707;
    -fx-background-radius: 25;
}

.followers_button {
    -fx-background-color: #122fe3;
    -fx-background-radius: 25;
}

.post_button {
    -fx-background-color: #808080;
    -fx-background-radius: 25;
}


